In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [23]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from category_encoders.ordinal import OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("Data Training.xlsx")

In [ ]:
# import pandas_profiling


# profile = pandas_profiling.ProfileReport(df)
# profile.to_file("testdata.html")

In [9]:
y = df["Lulus"]
X = df.drop(['Lulus','NIM'],axis =1)

In [10]:
X

,Total SKS,Total Cuti,Semester Mahasiswa / Total Semester,IPS 1,IPS 2,IPS 3,IPS 4
0,80,0,8,3.15,3.38,3.60,3.55
1,84,0,8,3.45,3.48,3.50,3.92
2,87,0,8,3.50,3.40,3.39,3.94
3,80,0,8,3.20,3.05,3.90,3.66
4,80,0,8,3.60,3.36,3.33,3.92
...,...,...,...,...,...,...,...
111,77,0,9,3.15,2.95,3.48,3.37
112,79,0,9,3.68,3.55,3.50,3.92
113,77,0,9,3.30,3.60,3.40,2.61
114,82,0,9,3.78,3.61,3.80,3.75
115,77,0,9,3.05,2.75,3.38,3.00

In [11]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size=0.2, random_state=38)

In [12]:
scaler = MinMaxScaler()
scaler.fit(Xtrain)

MinMaxScaler()

In [13]:
Xtrain = scaler.transform(Xtrain)

In [14]:
nb = GaussianNB()
mlp = MLPClassifier()

In [15]:
mlp.fit(Xtrain,ytrain)
nb.fit(Xtrain,ytrain)

/home/specialthanks/.local/lib/python3.6/site-packages/sklearn/neural_network/_multilayer_perceptron.py:585: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

GaussianNB()

In [16]:
Xtest = scaler.transform(Xtest)

In [17]:
yhat1 = mlp.predict(Xtest)
accuracy_score(yhat1,ytest)

1.0

In [18]:
yhat2 = nb.predict(Xtest)
accuracy_score(yhat2,ytest)

1.0

In [19]:
res = pd.DataFrame()
res["target"] = ytest
res["nb"] = yhat2
res["mlp"] = yhat1
res

                target                 nb                mlp
9          Tepat Waktu        Tepat Waktu        Tepat Waktu
98   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
76   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
112  Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
114  Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
85   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
63   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
42         Tepat Waktu        Tepat Waktu        Tepat Waktu
86   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
17         Tepat Waktu        Tepat Waktu        Tepat Waktu
69   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
49         Tepat Waktu        Tepat Waktu        Tepat Waktu
111  Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
35         Tepat Waktu        Tepat Waktu        Tepat Waktu
8          Tepat Waktu        Tepat Waktu        Tepat Waktu
16         Tepat Waktu        Tepat Waktu        Tepat Waktu
5          Tepat Waktu        Tepat Waktu        Tepat Waktu
80   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
84   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
34   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
73   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
107  Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu
44         Tepat Waktu        Tepat Waktu        Tepat Waktu
66   Tidak Tepat Waktu  Tidak Tepat Waktu  Tidak Tepat Waktu

In [27]:
datamanual = np.array([[1504030001, 0.35714286,  0. ,  0. ,  0.50847458,  0.4972973 ,  0.74074074,  0.56115108]])

In [28]:
datamanual[0:,0]

array([1.50403e+09])

In [29]:
datamanual[0,1:]

array([0.35714286, 0.        , 0.        , 0.50847458, 0.4972973 ,
       0.74074074, 0.56115108])

In [30]:
Xdatamanual = scaler.transform(datamanual[0,1:].reshape(1, -1))

In [31]:
"mahasiswa " + str(datamanual[0:,0][0]) + " "+ mlp.predict(Xdatamanual)[0]

'mahasiswa 1504030001.0 Tepat Waktu'